<table border="1" style="width:5%">
  <tr>
    <td>water</td>
    <td>water</td> 
  </tr>
  <tr>
    <td>water</td>
    <td>water</td>
  </tr>
</table>

<% if @coord %>
Miss

<% else %>
<form action="/game">
<input type="text" name="coord">
<button type="submit">Fire</button>
</form>

<% end %>