<table border="1" style="width:5%">

<% @grid.keys.each do |board| %>
  <tr>
    <td><%= board %></td>
  </tr>
<% end %>
</table>


<% if @coord == "A5" %>
Hit
<% elsif @coord %>
Miss

<% else %>
<form action="/game">
<input type="text" name="coord">
<button type="submit">Fire</button>
</form>

<% end %>