<table border="1" style="width:5%">


<% @keys.each_slice(10) do |slice| %>
  <tr>
  <% slice.each do |board| %>
    <td><%= board %></td>
    <%end%>
  </tr>
<% end %>
</table>


<% if @coord == "A5" %>
Hit
<% elsif @coord %>
Miss

<% else %>
<form action="/game">
<input type="text" name="coord">
<button type="submit">Fire</button>
</form>

<% end %>