
<% if @player.name %>
Welcome to Battleships!
<a href="/game">Start Game</a>
<% else %>
	<form action="/newgame">
		<input type="text" name="name">
		<input type="submit" value="Submit">
	</form>
<% end %>