
<% if @name %>
Thankyou <%= @name %>!, you are now registered
<% else %>
	<form action="/newgame">
		Would you like to play Battleships?!
		<input type="text" name="name">
		<input type="submit">
	</form>
<% end %>